<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="post">
        <div class="text-area"><input type="text" name="message" class="tag_form" placeholder="入力" required></div>
        <button type="submit" class="submit_btn" id="submit_btn">
        {% if output %}完了{% else %}✉︎Send{% endif %}
        </button>
        {% if output %}
            {{ output }}
        {% endif %}
    </form>
    
</body>
</html>